body{
  background-color: rgb(168, 6, 6);
}
.form-1 {
  position: relative; /* Añadimos position: relative al contenedor (#form-1) */
  background-color: #ffffff;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  max-width: 590px;
  height: 874px;
}

.logo_img{
  position: absolute;
  top: 30px;
  left: 60px; /*movimiento del logo */
  height: 50px;
  width: 50px;
}
.pasos {
  position: absolute;
  top: 20px;
  right: 60px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 
  'Lucida Grande', sans-serif; 
  font-size: 18px;
  font-weight: bold;
  color: rgb(0, 0, 0);

}

.titulo_bienvenido{
  font-size: 17px ;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 
  'Lucida Grande', sans-serif; 
  font-weight: bold;
  position: relative;
  top: -50px;
  color: rgb(100, 99, 99);

}
.txt_secundario {
  font-size: 17px ;
  font-family: sans-serif;
  font-weight: bold;
  position: relative;
  top: -50px;
  text-align: center;
  color: rgb(100, 99, 99);
}
.txt_resaltado{
 color:#990000
}
.txt_pregunta{
  font-size: 17px ;
  position: relative;
  top: -70px;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 
  'Lucida Grande', sans-serif;
  text-align: center;
  color: rgb(100, 99, 99);
}
.txt_califica{
  font-size: 13px ;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 
  'Lucida Grande', sans-serif;
  text-align: center;
  color: rgb(100, 99, 99);
  position: relative;
  bottom: 90px;
}
.contenedor_bar {
  width: 540px;
  height: 10px;
  background-color: #ccc;
  border-radius: 20px;
  position: relative;
  top: -90px;
  left: 8px;
}


.progreso_bar {
  height: 100%;
  background-color: #990000;
  border-radius: 20px;
  transition: width 0.5s ease-in-out;
  position: relative;
  width: 10%; /*porcentaje*/
  
}

.progress_text {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  font-weight: bold;
  color: #990000;
}

input {
  border: none;
  border-bottom: 2px solid rgb(223, 218, 218);
  margin-left: 10px;
}

#btn-sgte img {
  cursor: pointer;
}
#btn-sgte{
 position: relative;
 bottom: -159px;
 left: 380px;
}
#btn-sgte span{
  position: absolute;
  top: 20px;
  right: 60px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 
  'Lucida Grande', sans-serif; 
  font-weight: bold;
  color: #990000;
 }

.rating {
  display: inline-block;
  direction: rtl;
 
}

.rating input {
  display:none;
  font-size: 70px;

}

.rating label {
  font-size: 150px;
  color: #b3aeaeb9;
  cursor: pointer;
  margin: 20px;
  
}

.rating label:hover,
.rating label:hover ~ label,
.rating input:checked ~ label {
  color: #990000;
  direction: ltr; /*sentido hacia donde va la estrella */
  
}
.rating label {
position: relative; /* Agregamos posición relativa para poder posicionar el span de forma absoluta */
font-size: 50px;
bottom: 90px; /* Ajustamos la distancia del span hacia abajo */

color: #b3aeaeb9;
cursor: pointer;
}

.rating label span {
position: absolute;
bottom: -50px; /* Ajustamos la distancia del span hacia abajo */
left: 50%;
font-size: 20px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 
  'Lucida Grande', sans-serif; 
color: #000000;
}

h1 {
  color: rgb(168, 6, 6);
  font-family:sans-serif;
  font-size: 18px;
  max-height: 30px;
}
/* Ajustar el tamaño de la imagen */
.rayas img {
  position: absolute;
  bottom: 9px;
  left: 1px;
  width: 300px; /* Ancho del 100% del contenedor */
  height:90px; /* Altura automática para mantener la proporción */
}
/*CHECKBOX PREGUNTAS*/
.custom-checkbox {
  display: flex;
  margin-bottom: 20px;
  border: 3px solid #7a7a7a;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  width: 170px;
  
}

.custom-checkbox input {
  display: none;
}

.custom-checkbox .checkbox-text {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}
.custom-checkbox:hover,
.custom-checkbox :checked {
  background-color: gray;
}


/* Media queries */
@media screen and (max-width: 768px) {

  #form-1 {
    max-width: 500px;
    height: auto;
    padding: 0px;
  }

  #logo img {
    width: 90px;
    height: 40px;
  }

  h1 {
    font-size: 18px;
    max-height: 80px;
  }

  .separador {
    width: 280px;
  }

  input {
    max-width: 300px;
  }

  #btn-sgte img {
    margin-left: 0;
    margin-top: 30px;
    /* align-self: flex-end;  verificar como colocar a la derecha  */
  }
}

@media screen and (max-width: 480px) {

  #form-1 {
    max-width: 300px;
  }

  #logo img {
    width: 80px;
    height: 40px;
  }

  h1 {
    font-size: 16px;
    max-height: 60px;
  }

  .separador {
    width: 150px;
  }

  input {
    max-width: 200px;
  }
}


