body{
  background-color: rgb(168, 6, 6);

}
.form-1 {
  position: relative; /* Añadimos position: relative al contenedor (#form-1) */
  background-color: #ffffff;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  max-width: 590px;
  height: 800px;
}

.logo_img{
  position: relative;
  top: 30px;
  right: 210px; /*movimiento del logo */
  height: 50px;
  width: 50px;
}
.pasos {
  position: relative;
  top: -30px;
  left: 197px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 
  'Lucida Grande', sans-serif; 
  font-size: 18px;
  font-weight: bold;
  color: rgb(100, 99, 99);

}

.txt_resaltado{
  color:#990000
 }
.txt_pregunta{
  font-size: 17px ;
  position: relative;
  top: 40px; /*Altura de texto pregunta*/
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 
  'Lucida Grande', sans-serif;
  text-align: center;
  color: rgb(100, 99, 99);
}
.txt_califica{
  font-size: 13px ;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 
  'Lucida Grande', sans-serif;
  text-align: center;
  color: rgb(100, 99, 99);
  position: relative;
  top: 10px;  /*Altura texto califica*/
}

.txt_pregunta2{
  font-size: 17px ;
  position: relative;
  top: -20px; /*Altura de pregunta2*/
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 
  'Lucida Grande', sans-serif;
  text-align: center;
  color: rgb(100, 99, 99);
}

.contenedor_bar{
  width: 516px;
  height: 10px;
  background-color: #ccc;
  border-radius: 20px;
  position: relative;
  bottom: 10px; /*altura de la barra de progeso */
}


.progreso_bar {
  height: 100%;
  background-color: #990000;
  border-radius: 20px;
  transition: width 0.5s ease-in-out;
  position: relative;
  width: 17%; /*ancho de progreso.*/
  display: inline-block;
  
}

.progreso_txt {
  position: relative;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  font-weight: bold;
  color: #990000; 
}
.rating {
  display: inline-block;
  direction: rtl; /*sentido o direccion de estrellas*/
 
}

.rating input {
  display:none;
  font-size: 90px;

}

.rating{
  position: relative;
  top: -40px; /*altura de estrellas*/
  font-size: 50px;
  color: #b3aeaeb9;
  cursor: pointer;
  margin: 20px;
  
}

.rating label:hover,
.rating label:hover ~ label,
.rating input:checked ~ label {
  color: #990000; 
  direction: ltr; /*sentido hacia donde va la estrella */
  
}
.rating label {
position: relative; /* Agregamos posición relativa para poder posicionar el span de forma absoluta */
font-size: 90px; /*tamaño de la estrella */
color: #b3aeaeb9;
cursor: pointer;
}

.rating label span {
position: absolute;
bottom: -40px; /* Ajustamos la distancia del span hacia abajo */
left: 50%;
font-size: 20px;
font-weight: bold;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 
  'Lucida Grande', sans-serif; 
color: #706d6d;
}

/*toggle button*/
.btn_radio {
  position: relative;
  bottom: 20px;
	display: flex;
	margin-bottom: 36px;
	overflow: hidden;
  
}
.btn_radio input {

	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.btn_radio label {
  height: 30px;
  margin-top: 2px;
	background-color: #ffffff;
	color: rgba(201, 0, 0, 0.76);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(43, 42, 42, 0.1);
	transition: all 0.1s ease-in-out;
}

.btn_radio label:hover {
	cursor: pointer;
}
.btn_radio input:checked + label {
	background-color: #750202;
  color: #ffffff;
	box-shadow: none;
}
.btn_radio label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.btn_radio label:last-of-type {
	border-radius: 0 4px 4px 0;
}

/*FIN toggle button*/
.rayas{
  position: relative;
  height: 90px;
  right: 243px;
  top: 60px;
}
.txt_btn{
  color: rgb(168, 6, 6);
  font-family:sans-serif;
  font-weight: bold;
  position: relative;
  left: 200px;
  top: -28px;
}
.btn_sgte{
  cursor: pointer;
  position: relative;
  left: 211px;
  top:-7px
}


/* Media queries */
@media (max-width: 580px) {
  
  .form-1 {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;

    margin-right: 10px;
    width: 100%;
    height: auto;
  }
  .logo_img{
    top: 10px;
   right: 98px;
  }
  .pasos{
    left: 100px;
    color: rgb(100, 99, 99);
    font-size: small;
  }
  .contenedor_bar{
    margin-right: 0px;
    padding-right: 0px;
    width: 266px;
    height: 10px;
    background-color: #ccc;
    border-radius: 20px;
    top: -10px; /*altura de la barra de progeso */
    left: 5px;
  }
  .progreso_bar{
    left: 1px;
    height: 100%;
    background-color: #990000;
    border-radius: 20px;
    transition: width 0.1s ease-in-out;
    width: 41px; /*ancho de progreso.*/
  }
  .progreso_txt {
    position: relative;
    top: -20px;
    left: 40%;
    transform: translateX(-50%);
    font-size: 20px;
    
  }
  .rayas{
    cursor: pointer;
    left: -100px;
    top: 90px;   

  }
  .txt_btn{
    left: 70px;

  }
  .btn_sgte{
    cursor: pointer;
    left: 80px;
    top: 1px;
  }
  .txt_califica{
    font-size: 8px;
    top: 5px;
  }
  .rating label{
    font-size: 50px;
  }
  .txt_pregunta {
    font-size: 10px;
    width: 220px;
    top: 10px;
  }
  .txt_pregunta2 {
    font-size: 10px;
    width: 220px;
    top: 10px;
  }
  .btn_radio{
    top: 20px;
    height: 38px;
  }
}